@font-face {
	font-family: 'Josefin Slab';
	font-style:  normal;
	font-weight: 500;
	src:         url('typo/JosefinSlab.woff2') format('woff2');
}

@font-face {
	font-family: "minecraft";
	src:         url("typo/minecraft.otf")
}