@import "@fortawesome/fontawesome-free/css/all.css";

header {
	align-items:     center;
	background:      rgba(255, 255, 255, 0.2);
	border:          1px solid rgba(255, 255, 255, 0.3);
	border-radius:   16px;
	box-shadow:      0 4px 30px rgba(0, 0, 0, 0.1);
	display:         flex;
	height:          3vh;
	justify-content: space-between;
	margin:          3vh 9vw;
}

nav {
	display:         flex;
	justify-content: center;
	width:           100%;
}

nav ul {
	display:         flex;
	justify-content: center;
	list-style:      none;
	margin:          0;
	padding:         0;
}

nav ul.hidden {
	display: none;
}

nav ul li {
	margin: 0 2rem;
}

nav ul li a {
	color:           white;
	text-decoration: none;
}

.menu-container {
	align-items:     center;
	display:         flex;
	flex-grow:       1;
	justify-content: flex-end;
	margin-right:    1rem;
}

.menu-box {
	background:    rgba(0, 0, 0, 0.8);
	border-radius: 8px;
	opacity:       1;
	padding:       1rem;
	position:      absolute;
	right:         9vw;
	top:           10vh;
	transition:    opacity 0.3s ease, visibility 0.3s ease;
	visibility:    visible;
	width:         200px;
}

.menu-box.hidden {
	opacity:    0;
	visibility: hidden;
}

.menu-box ul {
	display:        flex;
	flex-direction: column;
	list-style:     none;
	margin:         0;
	padding:        0;
}

.menu-box ul li {
	margin: 1rem 0;
}

.menu-box ul li a {
	color:           white;
	text-decoration: none;
}

@media (max-width: 1030px) {
	.menu-button {
		background: none;
		border:     none;
		color:      white;
		cursor:     pointer;
		font-size:  2rem;
		transition: transform 0.3s ease;
	}

	.menu-button.active {
		transform: rotate(90deg);
	}
}