.home-main {
	align-items:     center;
	display:         flex;
	flex-direction:  column;
	justify-content: center;
	min-height:      calc(100vh - 30rem);
	padding:         2rem;
}

.home-title {
	color:       #FFF;
	font-size:   4rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-description {
	color:       #DDD;
	font-size:   2rem;
	line-height: 1.6;
}