body {
	background-color: #363636;
	background-image: radial-gradient(circle, #808080 1px, transparent 1px);
	background-size:  2rem 2rem;
	font-family:      'Cascadia Code', serif;
	font-size:        1.5rem;
	margin:           0;
	padding:          0;
}

header {
	background-color: #333;
	color:            white;
	padding:          1rem 0;
}

nav ul {
	display:         flex;
	justify-content: center;
	list-style:      none;
	margin:          0;
	padding:         0;
}

nav ul li {
	margin: 0 1rem;
}

nav ul li a {
	color:           white;
	text-decoration: none;
}

.routes-container {
	border:           1px solid rgba(255, 255, 255, 0.3);
	border-radius:    16px;
	box-shadow:       0 4px 30px rgba(0, 0, 0, 0.1);
	margin:           0 9vw;
	min-height:       84vh;
	overflow:         hidden;
	display:          flex;
	flex-direction:   column;
	height:           100%;
}

.routes-container > * {
	flex-grow: 1;
	display:  flex;
	flex-direction: column;
}

@media (max-width: 730px) {
	.routes-container {
		margin:     1vw;
		min-height: 89vh;
	}
}